{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bodybasket.css'%}" type="text/css">
{% endblock %}

{% block content %}

<main>

   <div class="shopping-cart">
      <div class="title">
        Ваша корзина:
      </div>
       {% for item in cart %}
      <div class="item">
        <div class="image">
          <img src="{{ item.image }}">
        </div>
 
        <div class="description">
          <span>{{ item.name }}</span>
        </div>
        <div class="price"> {{ item.price }} </div>
        <div class="price"> {{ item.quantity }} </div>
      </div>
      {% endfor %}
    </div>
    <div class="all-price">
        <div class="allprice">{{ cart.get_total_price }} R</div>
        <div class="buy">
          <span class="buy1">Купить</span>
        </div>
    </div>
</main>

{% endblock %}