{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_cart.css'%}" type="text/css">
{% endblock %}

{% block content %}

<main>

   <div class="shopping-cart">
      <div class="title">
        Ваша корзина:
      </div>
       {% for item in cart %}
      <div class="item">
        <div class="image">
          <img src="{{ item.image }}">
        </div>
 
        <div class="description">
          <span>{{ item.name }}</span>
        </div>
        <div class="quantity">
            <a href="{% url 'cart:add_1' item.game_id %}"><button class="plus-btn" type="button" name="button">+</button></a>
        <span> {{ item.quantity }} </span>
        <a href="{% url 'cart:remove' item.game_id %}"><button class="minus-btn" type="button" name="button">-</button></a>
        </div>
          <div class="price"> {{ item.price }} ₽</div>


    </div>{% endfor %}
    <div class="all-price">
        <div class="allprice">Общая сумма: {{ cart.get_total_price }} ₽</div>
        <div class="buy">
            <a href="{% url 'cart:buy'%}"><span class="buy1">Купить</span></a>
        </div>

    </div>
       <div class="messages">
       {% if messages %}
        {% for message in messages %}
            <span>{% if message.tags %} {% endif %}{{ message }}</span>
        {% endfor %}{% endif %}
   </div>
   </div>
</main>

{% endblock %}