{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_log_reg.css'%}" type="text/css">
{% endblock %}

{% block content %}
<head><title>Вход в личный кабинет</title></head>
    <div class="container">
	<div class="screen">
		<div class="screen__content">
		<p>Вход в личный кабинет</p>
			<form method="post" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
					<button class="button login__submit"><span class="submit">Войти</span>
				</button>
				<a  href="{% url 'signup'%}">Зарегистрироваться</a>
			</form>
		</div>
</div>
</div>
</main>
{% endblock %}