@media screen and (min-width: 1600px)  {

a {
  text-decoration: none;
}

.container {
  min-width: 1000px;
  min-height: 500px;
  margin: 70px;
  padding: 10px;
  display: flex;
font-family: sans-serif, Arial;
}

.left-column {
  width: 70%;
  position: relative;
  background-color: white;
}
 
.balance {
  margin-top: 8px;
}

.balance_button {
  background-color: #FF6733;
  padding: 8px;
  color: white;
  border: none;
  width: 82px;
}

.balance_input {
  width: 106px;
  padding: 8px;
  border: none;
  background-color: #232323;
  color: white;
}

.highlighting {
  color: #FF6733;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.avatarnick
{
    display: flex;
    background-color: white;
    margin: auto;
    width: 100%;
}

.avatar
{
    width: 200px;
    height: 200px;
    display: block;
    /* border-radius: 50%; */
    border: 2px solid black;
}


.nick
{
    min-width: 330px;
    max-height: 330px;
    display: block;
    margin:  10px;

}

.submit {
	background-color: #fff;
  color: #ff4000;
	margin-top: 15px;
	padding: 8px 12px 8px 12px;
	border-radius: 26px;
  margin-left: 10px;
	border: 3px solid #FF6733;
	align-items: center;
	cursor: pointer;
	transition: .2s;
}

.submit:active,
.submit:focus,
.submit:hover {
  box-shadow: 4px 4px 4px 4px rgba(255, 102, 51, 0.2);
}


.right-column {
  width: 275px;
  margin-left: 20px;
}


 .nav-top {
  position: relative;
 }

.logout {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.icon {
  width: 48px;
  height: 48px;
}

.quantity {
 display: block;
  min-width: 100px;
 margin-bottom: auto;
 margin-top: auto;
 padding-right:20px;
 padding-top: 10px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 250px;
  display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.image {
  display: block;
    padding-top: 10px;
  width: 115px;
  height: 100px;
    padding-right: 20px;
}

.transactions {
  width: 750px;
  min-height: 350px;
  margin: 32px auto 0px;
  background: white;
  /*box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);*/
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  /*border-bottom: 1px solid #d9d9d9;*/
  color: black;

}
.transaction {
  padding: 20px 30px;
  height: 160px;
  display: flex;
}
.transaction:nth-child(3) {
  /*border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;*/
}
.image > img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}
.title {
  height: 30px;
  border-bottom: 0 0 1px solid #E1E8EE;
  padding: 20px 30px;
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
  color: #333;
  border-bottom: #333 2px solid;
}
    .changepass {
      padding-top: 20px;
    }
 .changepass span{
     background-color: #FF6733;
     font-size: 16px;
     color: #FFFFFF;
     text-decoration: none;
     padding: 6px 15px;
     transition: all .5s;
    }
    
    .changepass a {
        color: white;
    }
    
  .messages {
  padding: 16px;
  background-color: rgb(255, 195, 195);
  border-radius: 0 0 10px 5x;
  color: rgb(130, 0, 0);
  border-top: 2px solid rgb(130, 0, 0);
}

.messages span{
  font-size: 15px;
  font-weight: 50;
}
}

@media screen and (min-width: 1280px) and (max-width:1599px) {
   a {
  text-decoration: none;
}

.container {
  min-width: 1000px;
  min-height: 500px;
  margin: 70px;
  padding: 10px;
  display: flex;
font-family: sans-serif, Arial;
}

.left-column {
  width: 70%;
  position: relative;
  background-color: white;
}
 
.balance {
  margin-top: 8px;
}

.balance_button {
  background-color: #FF6733;
  padding: 8px;
  color: white;
  border: none;
  width: 82px;
}

.balance_input {
  width: 106px;
  padding: 8px;
  border: none;
  background-color: #232323;
  color: white;
}

.highlighting {
  color: #FF6733;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.avatarnick
{
    display: flex;
    background-color: white;
    margin: auto;
}

.avatar
{
    width: 200px;
    height: 200px;
    display: block;
    /* border-radius: 50%; */
    border: 2px solid black;
}


.nick
{
    min-width: 330px;
    max-height: 330px;
    display: block;
    margin:  10px;

}

.submit {
	background-color: #fff;
  color: #ff4000;
	margin-top: 15px;
	padding: 8px 12px 8px 12px;
	border-radius: 26px;
  margin-left: 10px;
	border: 3px solid #FF6733;
	align-items: center;
	cursor: pointer;
	transition: .2s;
}

.submit:active,
.submit:focus,
.submit:hover {
  box-shadow: 4px 4px 4px 4px rgba(255, 102, 51, 0.2);
}


.right-column {
  width: 270px;
  margin-left: 20px;
}


 .nav-top {
  position: relative;
 }

.logout {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.icon {
  width: 48px;
  height: 48px;
}

.quantity {
 display: block;
  min-width: 100px;
 margin-bottom: auto;
 margin-top: auto;
 padding-right:20px;
 padding-top: 10px;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 250px;
  display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.image {
  display: block;
    padding-top: 10px;
  width: 115px;
  height: 100px;
    padding-right: 20px;
}

.transactions {
  width: 750px;
  min-height: 350px;
  margin: 32px auto 0px;
  background: white;
  /*box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);*/
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  /*border-bottom: 1px solid #d9d9d9;*/
  color: black;

}
.transaction {
  padding: 20px 30px;
  height: 160px;
  display: flex;
}
.transaction:nth-child(3) {
  /*border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;*/
}
.image > img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}
.title {
  height: 30px;
  border-bottom: 0 0 1px solid #E1E8EE;
  padding: 20px 30px;
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
  color: #333;
  border-bottom: #333 2px solid;
}
    .changepass {
      padding-top: 20px;
    }
 .changepass span{
     background-color: #FF6733;
     font-size: 16px;
     color: #FFFFFF;
     text-decoration: none;
     padding: 6px 15px;
     transition: all .5s;
    }
    
    .changepass a {
        color: white;
    }
    
  .messages {
  padding: 16px;
  background-color: rgb(255, 195, 195);
  border-radius: 0 0 10px 5x;
  color: rgb(130, 0, 0);
  border-top: 2px solid rgb(130, 0, 0);
}

.messages span{
  font-size: 15px;
  font-weight: 50;
}
}

@media screen  and (max-width:1279px) {
    
      a {
  text-decoration: none;
}

.container {
  min-width:700px;
  min-height: 600px;
  margin: 70px;
  padding: 10px;
  display: flex;
 font-family: sans-serif, Arial;
}

.left-column {
  width: 70%;
  position: relative;
  background-color: white;
  min-height: 50px;
}
 
.balance {
  margin-top: 8px;
}

.balance_button {
  background-color: #FF6733;
  padding: 3px;
  color: white;
  border: none;
  width: 60px;
  font-size: 10px;
}

.balance_input {
  width: 50px;
  padding: 3px;
  border: none;
  background-color: #232323;
  color: white;
  font-size: 10px;
}

.highlighting {
  color: #FF6733;
  font-weight: 600;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.avatarnick
{
    display: flex;
    background-color: white;
    margin: auto;
}

.avatar
{
    width: 100px;
    height: 100px;
    display: block;
    /* border-radius: 50%; */
    border: 2px solid black;
}


.nick
{
    min-width: 150px;
    max-height: 300px;
    display: block;
    margin:  5px;

}

.submit {
	background-color: #fff;
    color: #ff4000;
	margin-top: 7px;
	padding: 4px 6px 4px 6px;
	border-radius: 26px;
    margin-left: 25px;
	border: 3px solid #FF6733;
	align-items: center;
	cursor: pointer;
	transition: .2s;
}

.submit:active,
.submit:focus,
.submit:hover {
  box-shadow: 4px 4px 4px 4px rgba(255, 102, 51, 0.2);
}


.right-column {
  width: 135px;
  margin-left: 20px;
  font-size: 10px;
}


 .nav-top {
  position: relative;
    }

.logout {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.icon {
  width: 24px;
  height: 24px;
}

.quantity {
 display: block;
  min-width: 50px;
 margin-bottom: auto;
 margin-top: auto;
 padding-right:20px;
 padding-top: 10px;
}

.description {
  padding-top: 10px;
  margin-right: 10px;
  width: 100px;
  display: block;
    margin-top: auto;
    margin-bottom: auto;
}
.image {
  display: block;
    padding-top: 10px;
    width: 75px;
    height: 75px;
    padding-right: 10px;
}

.transactions {
  width: 100%;
  min-height: 100px;
  margin: 16px auto 0px;
  background: white;
  /*box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);*/
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  /*border-bottom: 1px solid #d9d9d9;*/
  color: black;

}
.transaction {
  padding: 10px 15px;
  height: 110px;
  display: flex;
}
.transaction:nth-child(3) {
  /*border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;*/
}
.image > img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Встраиваем картинку в контейнер card__image */
  transition: 0.2s;
}
.title {
  height: 15px;
  border-bottom: 0 0 1px solid #E1E8EE;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 400;
  display: inline-block;
  color: #333;
  border-bottom: #333 2px solid;
}
    .changepass {
      padding-top: 10px;
    }
    
 .changepass span{
     background-color: #FF6733;
     font-size: 10px;
     color: #FFFFFF;
     text-decoration: none;
     padding: 3px 6px;
     transition: all .5s;
    }
    
    .changepass a {
        color: white;
    }
    
  .messages {
  padding: 8px;
  background-color: rgb(255, 195, 195);
  border-radius: 0 0 10px 5x;
  color: rgb(130, 0, 0);
  border-top: 2px solid rgb(130, 0, 0);
}

.messages span{
  font-size: 7px;
  font-weight: 50;
}
}