@media screen and (min-width: 1600px)  {
.container {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 100px 0;
    color: white;
}

.container li{
    margin: 20px auto 0 auto;
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}
.screen {		
    top: 30px;
	background-color: #232323;		
	position: relative;	
	min-height: 350px;
	width: 30%;	
    border-radius: 30px;
    border: 3px solid #D1D1D4;
    font-family: sans-serif, Arial;
}

.screen__content {
	position: relative;	
	height: 100%;
}

.screen__content p
{
   text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.login {
	width: 320px;
	margin: 0 auto;
    width: auto;
}


.login__submit {
	background: #fff;
	font-size: 14px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	width: 90%;
	color: blue;
	cursor: pointer;
	transition: .2s;
    justify-content: center;
    margin: 30px auto 20px auto;
    width: 360px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.screen__content a{
	text-align: center;
    color: white;
    display: block;
    margin: 10px;
    text-decoration: none;
}


.error-message {
    text-align: center;
    font-size: 20px;
    color: red;
}

.errorlist li {
    text-align: center;
    font-size: 20px;
    color: red;
}
.change_submit {
   background: #fff;
	font-size: 14px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	width: 90%;
	color: blue;
	cursor: pointer;
	transition: .2s;
    justify-content: center;
    margin: 30px auto 20px auto;
    width: 360px;
}

.change_submit:active,
.change_submit:focus,
.change_submit:hover {
border-color: #6A679E;
	outline: none;}
    
}

@media screen and (min-width: 1280px) and (max-width:1599px) {
.container {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 100px 0;
    color: white;
}

.container li{
    margin: 20px auto 0 auto;
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}
.screen {		
    top: 30px;
	background-color: #232323;		
	position: relative;	
	min-height: 350px;
	width: 500px;	
    border-radius: 30px;
    border: 3px solid #D1D1D4;
    font-family: sans-serif, Arial;
}

.screen__content {
	position: relative;	
	height: 100%;
}

.screen__content p
{
   text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 25px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.login {
	width: 320px;
	margin: 0 auto;
    width: auto;
}


.login__submit {
	background: #fff;
	font-size: 14px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	width: 90%;
	color: blue;
	cursor: pointer;
	transition: .2s;
    justify-content: center;
    margin: 30px auto 20px auto;
    width: 360px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.screen__content a{
	text-align: center;
    color: white;
    display: block;
    margin: 10px;
    text-decoration: none;
}


.error-message {
    text-align: center;
    font-size: 20px;
    color: red;
}

.errorlist li {
    text-align: center;
    font-size: 20px;
    color: red;
}
.change_submit {
   background: #fff;
	font-size: 14px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	width: 90%;
	color: blue;
	cursor: pointer;
	transition: .2s;
    justify-content: center;
    margin: 30px auto 20px auto;
    width: 360px;
}

.change_submit:active,
.change_submit:focus,
.change_submit:hover {
border-color: #6A679E;
	outline: none;
    }
    
}

@media screen  and (max-width:1279px) {
    
    .container {
	display: flex;
	align-items: center;
	justify-content: center;
    margin: 100px 0;
    color: white;
}

.container li{
    margin: 20px auto 0 auto;
    list-style-type: none;
    text-align: left;
    padding-left: 20px;
}
.screen {		
    top: 30px;
	background-color: #232323;		
	position: relative;	
	min-height: 350px;
	width: 400px;	
    border-radius: 30px;
    border: 3px solid #D1D1D4;
    font-family: sans-serif, Arial;
}

.screen__content {
	position: relative;	
	height: 100%;
}

.screen__content p
{
   text-align: center;
    padding-top: 20px;
    color: white;
    font-weight: 700;
    font-size: 18px;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
}

.login {
	width: 320px;
	margin: 0 auto;
    width: auto;
}


.login__submit {
	background: #fff;
	font-size: 8px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	width: 90%;
	color: blue;
	cursor: pointer;
	transition: .2s;
    justify-content: center;
    margin: 30px auto 20px auto;
    width: 360px;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.screen__content a{
	text-align: center;
    color: white;
    display: block;
    margin: 10px;
    text-decoration: none;
}


.error-message {
    text-align: center;
    font-size: 15px;
    color: red;
}

.errorlist li {
    text-align: center;
    font-size: 15px;
    color: red;
}
.change_submit {
   background: #fff;
	font-size: 10px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	width: 90%;
	color: blue;
	cursor: pointer;
	transition: .2s;
    justify-content: center;
    margin: 30px auto 20px auto;
    width: 360px;
}

.change_submit:active,
.change_submit:focus,
.change_submit:hover {
border-color: #6A679E;
	outline: none;
    }
}