* {
    margin: 0; 
    padding: 0;
}

header {
position: fixed;  
top: 0;  
z-index: 100;  
width: 100%;  
}


.nav {
    background-color: #232323;
    height: 60px;
    display: inline-block;
    width: 100%;
}
 
.nav li {
    float: left;
    list-style-type: none;
    position: relative;
}
.nav li a {
    font-size: 16px; 
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: sans-serif, Arial;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.nav li a:hover {
    background-color: #2e2e2e;
}
 
#logo a {
   font-size: 16px; 
    color: white;
    display: block;
    line-height: 60px;
    padding: 0 26px;
    text-decoration: none;
    border-left: 1px solid #2e2e2e;
    font-family: sans-serif, Arial;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#search {
    width: 50%;
    margin: 4px;
    
}
#search_text {
    border-radius: 20px 0px 0px 20px;
    width: 90%;
    padding: 15px 0 15px 20px;
    font-size: 16px;
    font-family: sans-serif, Arial;
    border: 0 none;
    height: 52px;
    margin-right: 0;
    color: white;
    outline: none;
    background: #1f7f5c;
    float: left;
    box-sizing: border-box;
    transition: all 0.15s;
}
::-webkit-input-placeholder { /* WebKit браузеры */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
}
#search_text:focus {
    background: rgb(64, 151, 119);
}
#search_button {
    padding: 15px 0 15px 20px;
    font-size: 16px;
    color: white;
    font-family: sans-serif, Arial;
    border: 0;
    background: #1f7f5c;
    width: 10%;
    float: left;
    padding: 0;
    text-align: center;
    height: 52px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}
#options a {
    border-left: 0 none;
}
#options>a {
    background-position: 85% center;
    background-repeat: no-repeat;
    padding-right: 42px;
}
.subnav {
    visibility: hidden;
    position: absolute;
    top: 110%;
    left: 0;
    width: 200px;
    height: auto;
    opacity: 0;
    transition: all 0.1s;
    background: #232323;
}
.subnav li {
    float: none;
}
.subnav li a {
    border-bottom: 1px solid #2e2e2e;
}
#options:hover .subnav {
    visibility: visible;
    top: 100%;
    opacity: 1;
}

#basket {
    float:right;
}
#personal_cabinet
{
   float:right;
}

.footer-distributed {
 background-color: #232323;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
 font-family: sans-serif, Arial;
  padding: 40px 40px;
   bottom: 0;
    
}

.footer-distributed .footer-center p {
  color: #8f9296;
  font-size: 16px;
  margin: 0;
}
/* Footer links */

.footer-distributed p.footer-links {
  font-size: 16px;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 16px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}


.footer-distributed .footer-social {
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-distributed .footer-social a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #232323;
  border-radius: 2px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-social a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

.footer-distributed p.footer-links a:hover{text-decoration:underline;}

body,html
{
min-height: 100vh !important;
width: 100%;
margin: 0;
background-color: #232323;      
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
