{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/text.css'%}" type="text/css">
{% endblock %}

{% block content %}
<head><title>О магазине</title></head>
    <main class="container">
    <h2>О магазине</h2>
<p>Сайт Lohotron.ru является интернет-магазином по продаже ключей к играм. На сайте Lohotron.ru вы можете приобрести ключи к различным играм по доступным ценам. Мы предлагаем широкий выбор игровых ключей для популярных платформ, таких как Steam, Origin, Uplay, Battle.net и других. У нас вы можете приобрести ключи как для новинок, так и для классических игр. Мы гарантируем быстрое получение ключа после оплаты, а также предоставляем техническую поддержку наших клиентов. </p>
    <p>Мы понимаем, что покупка ключей может вызывать определенные опасения и сомнения. Поэтому мы гарантируем, что все наши ключи являются 100% легальными и приобретены у официальных поставщиков.

Мы также гарантируем, что все ключи будут работать и активироваться без каких-либо проблем. Если у вас возникнут какие-либо проблемы с ключом, мы готовы предоставить вам полную поддержку и помощь в решении проблемы.

Мы ценим наших клиентов и стремимся обеспечить им максимально возможный уровень сервиса. Если вы не удовлетворены нашими услугами, мы готовы вернуть вам деньги в течение 30 дней с момента покупки.

Мы гарантируем, что все ваши данные будут защищены и не будут переданы третьим лицам. Мы используем самые современные технологии для защиты ваших данных и обеспечения безопасности вашей покупки.

Мы уверены, что вы будете довольны нашими услугами и качеством наших ключей. Если у вас есть какие-либо вопросы или проблемы, пожалуйста, свяжитесь с нашей службой поддержки, и мы с радостью поможем вам.</p>
    <p> - Сайт работает c 2023 года. </p>
    <p> - На товары могут быть скидки от 5%.</p>
    <p> - Хоть мы и начинающий магазин, мы стараемся каждый день, чтобы обеспечить Вам максимальное удовлетворение от пользования магазином.</p>
    <p> - Все новинки выходят в их официальный день релиза.</p>
    <p> - Сайт работает для всех стран, включая СНГ и Россию. Некоторые товары имеют региональные ограничения. </p>
    <p> - Все продаваемые ключи закупаются у официальных дилеров, которые работают напрямую с издателями. В том числе с издателями: 1C, 2K, Bandai Namco, Curve Digital, Capcom, Codemasters, Deep Silver, Disney, IO Interactive, Iceberg Interactive ,Nordic Games, Paradox, Plug-in-Digital, Take-Two Interactive, Team17, Ubisoft, Бука, Новый Диск и другими!</p>
</main>
{% endblock%}
