{% extends 'base.html' %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/text.css'%}" type="text/css">
{% endblock %}

{% block content %}
    <main class="container">
    <h2>О магазине</h2>

    <p> - Сайт работает c 2023 года. </p>
    <p> - На товары могут быть скидки от 5%.</p>
    <p> - Хоть мы и начинающий магазин, мы стараемся каждый день, чтобы обеспечить Вам максимальное удовлетворение от пользования магазином.</p>
    <p> - Все новинки выходят в их официальный день релиза.</p>
    <p> - Сайт работает для всех стран, включая СНГ и Россию. Некоторые товары имеют региональные ограничения. </p>
    <p> - Все продаваемые ключи закупаются у официальных дилеров, которые работают напрямую с издателями. В том числе с издателями: 1C, 2K, Bandai Namco, Curve Digital, Capcom, Codemasters, Deep Silver, Disney, IO Interactive, Iceberg Interactive ,Nordic Games, Paradox, Plug-in-Digital, Take-Two Interactive, Team17, Ubisoft, Бука, Новый Диск и другие!</p>
</main>
{% endblock%}
