{% load static %}
{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bodybasket.css'%}" type="text/css">
{% endblock %}

{% block content %}

<main>

   <div class="shopping-cart">
      <div class="title">
        Ваша корзина:
      </div>
       {% for item in cart %}
        {% with game=item.game %}
      <div class="item">
        <div class="image">
          <img src="{{ game.image.url }}">
        </div>
 
        <div class="description">
          <span>{{ game.name }}</span>
        </div>
        <div class="price"> {{ game.price }} </div>
        <div class="buttons">
          <span class="delete-btn"><a href="{% url 'cart:remove' game.id %}">Удалить</a></span>
        </div>
      </div>

    </div>
    <div class="all-price">
        <div class="allprice"> Общая сумма: 1000 </div>
        <div class="buy">
          <span class="buy1">Купить</span>
        </div>
    </div>
</main>

{% endblock %}
