{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_reg.css'%}" type="text/css">
{% endblock %}

{% block content %}
<head><title>Сменить пароль</title></head>
<main>
    <div class="container">
	<div class="screen">
		<div class="screen__content">

  <p>Сменить пароль</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="button change_submit">
					<span class="button__text">Сменить пароль</span>
				</button>
  </form></div></div></div>
{% endblock %}