{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bodyindex.css'%}" type="text/css">
{% endblock %}

{% block content %}
<div class="cards">
    {% for game in games %}
    <!-- Карточка товара -->
    <div class="card">
        <!-- Верхняя часть -->
        <div class="card__top">
            <!-- Изображение-ссылка товара -->
            <a href="#" class="card__image">

                <!--<img src="{% static 'img/XxA5bTac5EnzaNVIPQpirQ.jpeg' %}" />
            </a>-->
            <img src="{{ game.image.url }}" alt="{{game.name}}"/>
            </a>
            <!-- Скидка на товар -->
            <div class="card__label">-10%</div>
        </div>
        <!-- Нижняя часть -->
        <div class="card__bottom">
            <!-- Цены на товар (с учетом скидки и без)-->
            <div class="card__prices">
                <div class="card__price card__price">{{ game.price }} R</div>
            </div>
            <!-- Ссылка-название товара -->
            <a href="{% url 'game_detail' game.pk %}" class="card__title">
                {{ game.name }}
            </a>
            <!-- Кнопка добавить в корзину -->
            <button class="card__add">В корзину</button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
