{% extends 'base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_game_detail.css'%}" type="text/css">
{% endblock %}

{% block content %}
<main class="container">
 
  <div class="left-column">
    <img src="{{ game.image.url }}" alt="{{game.name}}"/>
  </div>
 
  <div class="right-column">

    <div class="product-description">
      <h1>{{ game.name }}</h1>
      <p>{{ game.description }}</p>
    </div>
    <div class="product-requirements">
    <h1>Системные требования:</h1>
    <p>{{game.system_requirements}}</p>
    </div>

    <div class="product-price">
      <span>{{ game.price }} R</span>
      <a href="#" class="cart-btn"><form method="POST" action="{% url 'cart:add' game.id %}">
          {% csrf_token %}
  <input type="hidden" name="game_id" value="{{ game.id }}">
  <input type="number" name="quantity" value="1" min="1">
  <button type="submit">Добавить в корзину</button></form></a>
    </div>
  </div>
</main>
 
{% endblock %}