{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bodyindex.css'%}" type="text/css">
{% endblock %}

{% block content %}
<div class="cards">
    {% for game in games %}
    <!-- Карточка товара -->
    <div class="card" style="background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('{{ game.image.url }}')";>
        <!-- Верхняя часть -->
        <div class="card__top">
            <!-- Кнопка добавления в корзину -->
            <a href="#"> 
                <div class="icon_button">
                    <img class="icon" src="{% static 'img/svg/cart-plus.svg'%}" alt="Cart icon">
                </div>
            </a>
        </div>
        <!-- Нижняя часть -->
        <div class="card__bottom">
            <!-- Цены на товар (с учетом скидки и без) -->
            <!-- Ссылка-название товара -->
            <a href="{% url 'game_detail' game.pk %}" class="card__title">
                {{ game.name }}
            </a>
            <div class="card__prices">
                <div class="card__price card__price">{{ game.price }} ₽ <span class="card__label">-10%</span></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
