{% extends 'base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_game_detail.css'%}" type="text/css">
{% endblock %}

{% block content %}
<head><title>Lohotron.ru</title></head>
<div class="backimg" style="backdrop-filter: blur(10px); position: fixed; width: 100vw; height: 100vh; background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4) 10%, rgba(0, 0, 0, 1)), url('{{ game.image.url }}'); background-size: cover; filter: blur(8px); z-index: -1;"></div>
<!-- background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 87%, rgba(0, 0, 0, 0) 100%) -->
<main class="container">
  <div class="left-column">
    <div class="product-description">
      <h2>{{ game.name }}</h2>
      <p>{{ game.description }}</p>
    </div>
    <div class="product-requirements">
    <h2>Системные требования:</h2>
    <p>{{game.system_requirements}}</p>
    </div>
  </div>

  <div class="right-column">
    <img src="{{ game.image.url }}" alt="{{game.name}}"/>
      <div class="product-price">
        <span>{{ game.price }} ₽</span>
        <a href="{% url 'cart:add_1' game.id %}">Добавить в корзину</a>
      </div>
  </div>
</main>
 
{% endblock %}
