{% load static %}

<header>
    <ul class="nav">
        <li id="logo">
            <li id="logo">
                <a href="{% url 'games'%}" style="height: 60px;">
                  <img src="{% static 'img\logo.png' %}" alt="Lohotron.ru logo" style="height: 50px; margin-top: 5px;">
                </a>
            </li>
        </li>
        <li id="options">
            <span>Покупателям</span>
            <ul class="subnav">
                <li><a href="{% url 'aboutstore'%}">Об магазине</a></li>
                <li><a href="{% url 'guarantees'%}">Гарантии</a></li>
            </ul>
        </li>
        <li id="search">
            <form action="" method="get">
                <input name="search_text" id="search_text" placeholder="Поиск..." type="text">
                <input name="search_button" id="search_button" type="button" value="Найти">
            </form>
        </li>
        <li id="personal_cabinet">
            {% if user.is_authenticated %}
            <a href="{% url 'home'%}">{{ user.balance.first.money }} ₽ | {{ user.username }}</a>
            {% else %}
            <a href="{% url 'login'%}">Войти</a>
            {% endif %}
        </li>
        <li id="basket">
            <a href="{% url 'cart:detail' %}">Корзина</a>
        </li>
    </ul>
</header>
