{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/bodylk.css'%}" type="text/css">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<main class="container">

  <div class="left-column">
    <div class="title"> Ваши ключи:</div>
    <div class="transactions">

      {% for transaction in transactions %}
      <div class="transaction">
        <div class="image">
            <img src="{{ transaction.game.image.url }}">
        </div>
        <div class="description">
          <a href="/games/{{ transaction.game.pk }}">{{ transaction.game.name }}</a>
        </div>
        <div class="quantity">
        <span> {{ transaction.key.key }} </span>
        </div>
    </div>{% endfor %}
    </div>
<div class="data">
<!--      <div class="password">-->
<!--          {% include 'change_password.html' %}-->
<!--          {% block c %}{% endblock %}-->
<!--          <h3>Изменить пароль:</h3>-->
<!--          <form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button class="button submit">-->
<!--					<span class="button__text">Сменить пароль</span>-->
<!--				</button>-->
<!--    </form>-->
<!--          <div class="field">-->
<!--        <input type="field" class="form" placeholder="Ваш старый пароль">-->
<!--				</div>-->
<!--				<div class="field">-->
<!--					<input type="password" class="form" placeholder="Новый пароль">-->
<!--				</div>-->
<!--				 <div class="field">-->
<!--					<input type="password" class="form" placeholder="Подтвердите новый пароль">-->
<!--				</div>-->
<!--				<button class="button submit">-->
<!--					<span class="button__text">Сменить пароль</span>-->
<!--				</button>-->
</div>
<!--      <div><p>Ваш баланс: <"{% url 'add_money' %}"></p></div>-->
  </div>
  <div class="right-column">
    <div class="nav-top">
      <div class="avatarnick">
        <div class="nick">
           <h2 style="width: fit-content;">{{ user.username }}</h2>
           <img src="{% static 'img/avatar.png' %}" alt="avatar" class="avatar">
           <div class="balance">
            <div><p><span class="highlighting">Ваш</span> баланс: {{ money }} ₽</p></div>
            <div>
              <form method="post" action="{% url 'add_money' %}">
                  {% csrf_token %}
                  <input class="balance_input" type="number" id="amount" name="amount"><button class="balance_button" ="submit">Пополнить</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="logout">
        <a href="{% url 'logout' %}"><img src="{% static 'img/svg/logout-red.svg' %}" alt="Logout icon" class="icon"></a>
      </div>
    </div>
  </div>
</main>
{% else %}
    <p>You are not logged in.</p>
    <a href="{% url 'login' %}">login</a>
{% endif %}

{% endblock %}