{% load static %}
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/body_log_reg.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
<title>Lohotron.ru</title>
</head>
<body>

<header>
<ul class="nav">
    <li id="logo">
        <a href="{% url 'games'%}">Lohotron.ru</a>
    </li>
    <li id="options">
        <a href="#">Покупателям</a>
        <ul class="subnav">
            <li><a href="#">Об магазине</a></li>
            <li><a href="#">Гарантии</a></li>
        </ul>
    </li>
    <li id="search">
        <form action="" method="get">
            <input name="search_text" id="search_text" placeholder="Поиск..." type="text">
            <input name="search_button" id="search_button" type="button"  value="Найти">
        </form>
    </li>
    <li id="personal_cabinet">
        <a href="#">Личный кабинет</a>
    </li>
    <li id="basket">
        <a href="#">Корзина</a>
    </li>
</ul>
</header>

<main>
    <div class="container">
	<div class="screen">
		<div class="screen__content">
		<p>Вход в личный кабинет</p>
			<form method="post" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
					<button class="button login__submit"><span class="submit">Войти</span>
				</button>
				<a  href="{% url 'registration'%}">Зарегистрироваться</a>
			</form>
		</div>
</div>
</div>
</main>

<footer class="footer-distributed">

      <div class="footer-social">

        <a href="#" class="btn tg"></a>
        <a href="#" class="btn vk"></a>


      </div>

      <div class="footer-center">

        <p class="footer-links">

          <a href="#">Соглашение</a>

          <a href="#">Поддержка</a>

          <a href="#">Политика возвратов</a>

        </p>

        <p>Lohotron.ru &copy; 2023</p>
      </div>

    </footer>

</body>
</html>