{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/text.css'%}" type="text/css">
{% endblock %}

{% block content %}

<main class="container">
 <h2>Политика возвратов</h2>

    <p> <b>Возврат купленного товара в магазине лицензионных ключей LOHOTRON возможен:</b></p>
<p> - Товар не надлежащего качества, например ключ активации не работает.</p>

<p><b> Почему нельзя вернуть уже полученный товар?</b></p>
<p> - Вы не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его покупателем. Это означает, что в случае активации цифрового ключа, идущего в комплекте с товаром, товар уже не может быть возвращен в магазин.</p>
<p> - Мы не можем проверить факт активации ключа, следовательно не можем выставить заведомо проблемный товар в магазин. </p>
<p> - Мы не можем продать ключ кому-то после вас, потому что Вы его видели. </p>

<p>В случае возврата товара, деньги будут возвращены Вам в течение 14 рабочих дней.</p>
    <p>Для оформления возврата Вам необходимо написать в <a href="{% url 'support'%}"> Поддержку</a>. Следует описать ситуацию со всевозможной необходимой информацией и скриншотами, чтобы Ваше заявление как можно быстрее рассмотрели и приняли решение.</p>

    <p>Подводя итоги, рекомендуем внимательно изучать описание товара и оценивать реальную заинтересованность в товаре, чтобы в дальнейшем не создавать себе проблемы, не портить настроение и не обижаться на работу сервиса.</p>
</main>
 
{% endblock %}