{% load static %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/text.css'%}" type="text/css">
<title>Lohotron.ru</title>
</head>
<body>

<header>
<ul class="nav">
    <li id="logo">
        <a href="{% url 'games'%}">Lohotron.ru</a>
    </li>
    <li id="options">
        <a href="#">Покупателям</a>
        <ul class="subnav">
            <li><a href="{% url 'aboutstore'%}">Об магазине</a></li>
            <li><a href="{% url 'guarantees'%}">Гарантии</a></li>
        </ul>
    </li>
    <li id="search">
        <form action="" method="get">
            <input name="search_text" id="search_text" placeholder="Поиск..." type="text">
            <input name="search_button" id="search_button" type="button"  value="Найти">
        </form>
    </li>
    <li id="personal_cabinet">
        <a href="{% url 'login'%}">Личный кабинет</a>
    </li>
    <li id="basket">
        <a href="#">Корзина</a>
    </li>
</ul>
</header>

<main class="container">
 <h2>Политика возвратов</h2>

    <p> <b>Возврат купленного товара в магазине лицензионных ключей LOHOTRON возможен:</b></p>
<p> - Товар не надлежащего качества, например ключ активации не работает.</p>

<p><b> Почему нельзя вернуть уже полученный товар?</b></p>
<p> - Вы не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его покупателем. Это означает, что в случае активации цифрового ключа, идущего в комплекте с товаром, товар уже не может быть возвращен в магазин.</p>
<p> - Мы не можем проверить факт активации ключа, следовательно не можем выставить заведомо проблемный товар в магазин. </p>
<p> - Мы не можем продать ключ кому-то после вас, потому что Вы его видели. </p>

<p>В случае возврата товара, деньги будут возвращены Вам в течение 14 рабочих дней.</p>
    <p>Для оформления возврата Вам необходимо написать в <a href="{% url 'support'%}"> Поддержку</a>. Следует описать ситуацию со всевозможной необходимой информацией и скриншотами, чтобы Ваше заявление как можно быстрее рассмотрели и приняли решение.</p>

    <p>Подводя итоги, рекомендуем внимательно изучать описание товара и оценивать реальную заинтересованность в товаре, чтобы в дальнейшем не создавать себе проблемы, не портить настроение и не обижаться на работу сервиса.</p>
</main>
 
  

<footer class="footer-distributed">

      <div class="footer-social">

        <a href="#" class="btn tg"></a>
        <a href="#" class="btn vk"></a>
     

      </div>

      <div class="footer-center">

        <p class="footer-links">

          <a href="{% url 'agreement'%}">Соглашение</a>

          <a href="{% url 'support'%}">Поддержка</a>

          <a href="{% url 'refund'%}">Политика возвратов</a>

        </p>

        <p>Lohotron.ru &copy; 2023</p>
      </div>

    </footer>
  
</body>
</html>