{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_log_reg.css'%}" type="text/css">
{% endblock %}

{% block content %}

<main>
    <div class="container">
	<div class="screen">
		<div class="screen__content">
		<p>Регистрация</p>
			<form method="post" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
					<button class="button login__submit"><span class="submit">Зарегистрироваться</span>
				</button>
			</form>
		</div>
</div>
</div>
	<script>
	const applicantForm = document.querySelector('.login');
	applicantForm.addEventListener('button', (event)=>{
      event.preventDefault();
      console.log('hui');
      let pass1=applicantForm.querySelector("[name='password1']");
      let pass2=applicantForm.querySelector("[name='password2']");
      if (pass1!=pass2)
          {
              event.preventDefault();
          }
})
	</script>
</main>

{% endblock %}