{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/body_log_reg.css'%}" type="text/css">
{% endblock %}

{% block content %}

<main>
    <div class="container">
	<div class="screen">
		<div class="screen__content">
		<p>Регистрация</p>
			<form method="post" class="login">
                    {% csrf_token %}
                    {{ form.as_p }}
					<button class="button login__submit"><span class="submit">Зарегистрироваться</span>
				</button>
			</form>
		</div>
</div>
</div>
	<script>
	const applicantForm = document.querySelector('.login__submit');
      applicantForm.addEventListener('click', (event)=>{
      let pass1=document.getElementsByName("password1")[0].value;
      let pass2=document.getElementsByName("password2")[0].value;
      if (pass1!=pass2)
          {
          		event.preventDefault();
                console.log('hui');
          }


}
);
	</script>
</main>

{% endblock %}