{% load static %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/stylesheet.css'%}" type="text/css">
<link rel="stylesheet" href="{% static 'css/text.css'%}" type="text/css">
<title>Lohotron.ru</title>
</head>
<body>

<header>
<ul class="nav">
    <li id="logo">
        <a href="{% url 'games'%}">Lohotron.ru</a>
    </li>
    <li id="options">
        <a href="#">Покупателям</a>
        <ul class="subnav">
            <li><a href="{% url 'aboutstore'%}">Об магазине</a></li>
            <li><a href="{% url 'guarantees'%}">Гарантии</a></li>
        </ul>
    </li>
    <li id="search">
        <form action="" method="get">
            <input name="search_text" id="search_text" placeholder="Поиск..." type="text">
            <input name="search_button" id="search_button" type="button"  value="Найти">
        </form>
    </li>
    <li id="personal_cabinet">
        <a href="#">Личный кабинет</a>
    </li>
    <li id="basket">
        <a href="#">Корзина</a>
    </li>
</ul>
</header>

<main class="container">
 <h2>Поддержка</h2>
 
<p>В случае проблем с использованием сайта или других вопросов просим Вам написать нам на нашу почту: Lohotron@gmail.com. </p>
<p> Мы стараемся отвечать в течении 24 часов, но срок ответа может увеличиться в случае большого количества заявлений или других обстоятельств. </p>

<p> Вы также можете перейти в наши социальные сети, где будут актуальные новости насчёт сайта и его работоспособности:</p>
<p> - <a href=''>Наш Telegram</a></p>
<p> - <a href=''>Наша группа VK</a></p>
<br>
    <p><b>Наиболее задаваемые вопросы:</b></p>
    <p> <b> - Какими способами я могу оплатить товар?</b></p>
<p> Оплатить товар вы можете различными способами показанными при оплате товара. </p>
 <p> <b> - Что делать, если игра вылетает, зависает или не запускается?</b></p>
<p> Магазин не несет ответственности за возможные технические неполадки с игрой, и максимум что мы можем порекомендовать в данной ситуации — переустановить или обновить драйвера на аппаратную часть компьютера, снизить графические настройки в игре, проверить компьютер на наличие вирусов / майнеров, завершить лишние процессы из диспетчера задач, переустановить ОС, а также проверить - не перегреваются ли какие-либо составные части компьютера.

Если ничего из перечисленного не решает Вашу проблему, то необходимо искать решение на форумах, в интернете или обращаться в поддержку разработчика продукта за получением официального ответа. </p>
 <p> <b> - Если игра мне не понравится, могу ли я вернуть свои деньги?</b></p>
<p> Это не представляется возможным. Просим Вас изучать игру подробнее перед покупкой. За более подробной информацией смотрите в раздел <a href="{% url 'refund'%}">Политика возвратов</a>.</p>
</main>
 
  

<footer class="footer-distributed">

      <div class="footer-social">

        <a href="#" class="btn tg"></a>
        <a href="#" class="btn vk"></a>
     

      </div>

      <div class="footer-center">

        <p class="footer-links">

          <a href="{% url 'agreement'%}">Соглашение</a>

          <a href="{% url 'support'%}">Поддержка</a>

          <a href="{% url 'refund'%}">Политика возвратов</a>

        </p>

        <p>Lohotron.ru &copy; 2023</p>
      </div>

    </footer>
  
</body>
</html>